<ion-view view-title="Chat">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>Chat</p>
  </ion-nav-title>

  <div class="profile_preview">
      <div class="pull-left">
        <span class="name">Jacey, F, 24&nbsp;&nbsp;|&nbsp;&nbsp;Toronto, ON</span>
      </div>
      <a href="#" class="toggle_profile_view pull-right"><i class="ion-chevron-down"></i></a>

      <div class="clearfix"></div>
      <div class="profile_details_wrapper">
        <div class="profile_details">
          <h3>Interests</h3>
          <ul class="interests">
            <li>Game of Thromes</li>
            <li>NBA</li>
            <li>Backstreet Boys</li>
            <li>Traveling</li>
            <li>The Dark Knight</li>
            <li>Lisa Ann</li>
          </ul>

          <div class="clearfix"></div>
          <h3>Photos</h3>
          
          <div class="photos">
            <div class="row">
              <div class="col"><img class="grid_thumb" src="img/jacey.jpg" /></div>
              <div class="col"><img class="grid_thumb" src="img/jacey.jpg" /></div>
              <div class="col"><img class="grid_thumb" src="img/jacey.jpg" /></div>
            </div>
            <div class="row">
              <div class="col"><img class="grid_thumb" src="img/jacey.jpg" /></div>
              <div class="col"><img class="grid_thumb" src="img/jacey.jpg" /></div>
              <div class="col"><img class="grid_thumb" src="img/jacey.jpg" /></div>
            </div>
            <div class="row">
              <div class="col"><img class="grid_thumb" src="img/jacey.jpg" /></div>
              <div class="col"><img class="grid_thumb" src="img/jacey.jpg" /></div>
              <div class="col"><img class="grid_thumb" src="img/jacey.jpg" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <ion-content has-header="true" class="chat">

    <div class="chat_wrapper">
      <div class="row system_msg large_thumb">
        <div class="col">
          <p class="text-center"><img class="large_thumb" src="img/jacey.jpg" style="visibility:hidden"/></p>
        </div>
      </div>
      <div class="row system_msg">
        <div class="col">
          <p class="faded text-center">You're chatting with <strong>Jacey</strong>.</p>
        </div>
      </div>
    </div>

  </ion-content>

  <div class="message_box_wrapper">
      <textarea id="message_text" placeholder="Say Something..."></textarea>
      <a href="#" id="send_message" class="pull-right"><i class="ion-android-send"></i></a>
    </div>
</ion-view>
