<ion-view view-title="ChitChat">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>ChitChat</p>
  </ion-nav-title>
  <ion-content class="home">

    <div class="container">
      <div class="row">
        <div class="col">

          <div class="water">
            
          </div>

          <a href="#" class="search_btn"><i class="ion-chatbubble-working"></i></a>
          <img class="search_pic" src="https://pbs.twimg.com/profile_images/686393019323518976/5iNMD6N8.jpg"/>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
