

<ion-view view-title="Profile">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>Preferences</p>
  </ion-nav-title>
  <ion-content>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <br>
          <h4>Chat with: <span class="pull-right gender"></span></h4>
          <div class="panel panel-default">
              <div class="panel-body">
                <div class="form-group">
                  <label for="men" class="control-label">Men</label>
                  <div class="togglebutton pull-right">
                      <label>
                        <input id="men" type="checkbox" checked>
                      </label>
                    </div>
                </div>
                <div class="form-group">
                  <label for="women" class="control-label">Women</label>
                  <div class="togglebutton pull-right">
                      <label>
                        <input id="women" type="checkbox" checked>
                      </label>
                    </div>
                </div>
              </div>
          </div>

          <h4>Ages: <span class="pull-right age_range"></span></h4>
          <div class="panel panel-default">
              <div class="panel-body">
                <div class="form-group">
                   <div id="age_range_slider" class="slider"></div>
                </div>
              </div>
          </div>

        </div>
      </div>
    </div>
<script src="js/script.js"></script>
  </ion-content>
</ion-view>
