<ion-view view-title="Preferences">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>Preferences</p>
  </ion-nav-title>
  <ion-content>

    <div class="container">
      <div class="row">
        <div class="col">

          <div class="card">
            <div class="item item-text-wrap">

              <h2>Chat with: <span class="pull-right gender"></span></h2>
              <br> 

              <ul class="list">
                <li class="item item-toggle">
                   Men
                   <label class="toggle toggle-positive">
                     <input type="checkbox" id="men">
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                   </label>
                </li>
                <li class="item item-toggle">
                   Women
                   <label class="toggle toggle-positive">
                     <input type="checkbox" id="women">
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                   </label>
                </li>
              </ul>

            </div>
          </div>

          <div class="card">
            <div class="item item-text-wrap">

              <h2>Ages: <span class="pull-right age_range"></span></h2>
              <br> 

              <div id="age_range_slider" class="slider"></div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
