<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-content scroll="false">
      <div class="row ion-fb-side-menu">
        <div class="col">
          <ion-list>
            <ion-item>
              <img src="img/logo_wh.png" class="logo" />
            </ion-item>
            <ion-item class="item item-avatar">
              <img src="https://pbs.twimg.com/profile_images/686393019323518976/5iNMD6N8.jpg" ng-src="{{user.picture}}">
              <span>Welcome, Reza{{user.profileInfo.name}}</span>
            </ion-item>
            <ion-item class="item-icon-left" nav-transition="none" menu-close href="#/app/chat">
              <i class="icon ion-android-chat"></i>
              <h2 class="menu-text">Chat</h2>
            </ion-item>
            <ion-item class="item-icon-left" nav-transition="none" menu-close href="#/app/preferences">
              <i class="icon ion-android-options"></i>
              <h2 class="menu-text">Preferences</h2>
            </ion-item>
            <ion-item ng-controller="AppCtrl" class="item-icon-left" menu-close href="#" ng-click="showConfirmLogOut()">
              <i class="icon ion-log-out"></i>
              <h2 class="menu-text">Log out</h2>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
