/* Empty. Add your own CSS if you like */

.row {
	padding: 0;
}

.col {
	padding: 3px;
	padding-bottom: 0;
}

.bar.bar-positive {
    border-color: #1481D0;
    background-color: #0094FF;
}


.toggle.toggle-positive input:checked + .track {
	border: 1px solid #1481D0;
    background-color: #0094FF;
}

.logo {
	width: 100%;
}

.ion-fb-side-menu {
	background: #0094ff;
}

.ion-fb-side-menu .item-avatar {
	background-color: inherit;
	color: #FFF !important;
	font-size: 16px;
	font-weight: 300;
}

.ion-fb-side-menu .item {
	background: #0094ff;
	border-color: #1481D0;
}

.ion-fb-side-menu .item .item-content {
	background: #0094ff;
}

.ion-fb-side-menu .item-avatar img:first-child {
	top: 15px;
}

.gender, .age_range {
	font-weight: 500;
}

/* slider */

.slider {
	height: 2px;
	visibility: visible;
	overflow: visible;
	margin-bottom: 20px;
}

.noUi-base {
	height: 2px;
}

.noUi-connect {
    background: #0094FF;
}

.noUi-horizontal .noUi-handle {
    width: 30px;
    height: 30px;
    left: -17px;
    top: -15px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}

.noUi-handle:before, .noUi-handle:after {
	display: none;
}

.noUi-handle.noUi-active {
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	background: #0094FF;
	border-color: #1481D0;
}


.noUi-origin[style^="left: 0"] .noUi-handle {
	background-color: inherit;
	border: inherit;
}

.noUi-horizontal {
    margin: 15px 20px;
}


/* chat */

.panel .form-group:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

.panel {
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.chat {
	background: #FFF;
}

.faded {
	color: #AAA;
}

.chat_wrapper {
	padding: 15px 35px;
	position: absolute;
	bottom: 50px;
	width: 100%;
	font-weight: 400;
	font-size: 15px;
	overflow-y: auto;
	height: 100%;
	padding-top: 100px;
}

.chat_wrapper::-webkit-scrollbar { 
    display: none; 
}

.chat_wrapper .you {
	width: 60%;
	float: right;
}

.chat_wrapper .you .panel-body {
	background: #76A7A2;
}

.chat_wrapper .not_you {
	width: 60%;
	float: left;
}

.chat_wrapper .not_you .panel-body {
	background: #EEE;
}

.chat .scroll {
	height: 100%;
}

.message_box_wrapper {
	position: absolute;
	bottom: 4px;
	border-top: 1px solid #DDD;
	width: 100%;
	height: 50px;
}

#message_text {
    border: 0;
    resize: none;
    padding: 16px 50px 0 15px;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

#send_message {
    margin: -38px 20px 0 0;
    position: relative;
    font-size: 32px;
    color: #0094FF;
}

.profile_preview {
	padding: 5px 15px;
	background: #FAFAFA;
	border-bottom: 1px solid #EEE;
	position: fixed;
	width: 100%;
	background: #F6F6F6;
	z-index: 9999;
	top: 44px;
}

img.small_thumb {
	border-radius: 50%;
	width: 40px;
	margin-right: 15px;
	margin-top: -5px;
}

img.large_thumb {
	width: 60%;
	border-radius: 50%;
	margin: 15px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.name, .location {
    font-size: 16px;
    font-weight: 400;
    color: #888;
    display: inline-block;
    margin: 9px 0;
}

a.toggle_profile_view.pull-right {
    padding: 10px 7px 6px 20px;
    border-left: 1px solid #DDD;
    font-size: 22px;
    color: #0094FF;
}

.profile_details_wrapper {
	height: 500px;
	display: none;
}

.profile_details {
	max-height: 500px;
	overflow-y: auto;
	margin-top: 15px;
	opacity:0;
	filter:alpha(opacity=0);
}

.profile_details::-webkit-scrollbar { 
    display: none; 
}

ul.interests {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.interests li {
    float: left;
    padding: 5px 10px;
    background: #0094FF;
    border-radius: 3px;
	margin: 0 5px 5px 0;
    color: #FFF;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

img.grid_thumb {
	width: 100%;
}

div[class*="col-"] {
	padding: 5px !important;
}

hr {
    margin: 10px 0;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    color: #888;
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.clearfix {
	clear: both !important;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}


/* Chat bubbles */
img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

.ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle;
}

.message {
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 55px;
}

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}